.signature {
    width: auto;
    height: 70px;
    background-color: currentColor; /* This will use the color property of the parent element */
    -webkit-mask: url('../../../../signature.svg') no-repeat center / contain;
    mask: url('../../../../signature.svg') no-repeat center / contain;
}
