.signature {
    width: auto;
    height: 70px;
    -webkit-mask: url('../../../../signature.svg') no-repeat center / contain;
    mask: url('../../../../signature.svg') no-repeat center / contain;
    transition: background-color 0.3s; /* Smooth transition for background color */
}
