.timeline-container {
    padding-top: 64px;
}

@media screen and (max-width: 600px) {
    .timeline-container {
        padding-top: 56px;
    }
}

.project-picture {
    height: 40px;
    width: 40px;
    object-fit: cover; /* This ensures the image covers the area well, adjust as needed. */
    /* No need for flexbox properties on the image itself */
}

/* Assuming you can target the icon container directly or through a global style */
.vertical-timeline-element-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.vertical-timeline::before {
    background: #696969;
}

@media screen and (max-width: 1170px) {
    .project-picture {
        height: 40px;
        border-radius: 50%;
    }
}
