.full-screen-img {
    width: 100vw;   /* Full width of the viewport */
    height: calc(100vh - 64px);
    object-fit: cover; /* Ensures the image covers the area without stretching */
    z-index: -1; /* Ensure it stays in the background */
}