.logo {
    width: 10px;
    height: 10px;
    background-color: currentColor; /* This will use the color property of the parent element */
    -webkit-mask: url('../../../../ap.svg') no-repeat center / contain;
    mask: url('../../../../ap.svg') no-repeat center / contain;
}
